/*CSS Reset*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	justify-content: center;
	background-color: black;
}

#navbar-control {
	color: white;
}

.jumbotron {
	height: 100vh;
	background-image: url("./images/background-2.jpeg");
	background-size: cover;
	
    background-position: center;
    background-repeat: no-repeat;
 }


figcaption {
	padding: .8rem;
	font-weight: bold;
}

.fa {
  padding: 1rem;
  font-size: 1.5rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

blockquote {
	font-size: .8rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


#projects {
	background-image: url("./images/background-2.jpeg");
	background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
}

.footer {
	background-color: black;
}